@media only screen and (max-width: 750px) {
    #taxonomies, #topics {
        width: 100% !important;
    }

    body, html {
        overflow-y: auto !important;
    }
}

body, html {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    font-family: 'Roboto Slab', sans-serif;
}

form header {
    margin: 0 0 20px 0;
}

form header div {
    font-size: 90%;
    color: #999;
}

form header h2 {
    margin: 0 0 5px 0;
}

form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}

form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}

form > div > label {
    float: left;
    padding-right: 10px;
}

form > div > fieldset label {
    font-size: 90%;
}

fieldset {
    border: 0;
    padding: 0;
}

input[type=text] {
    width: 80%;
    border: 1px solid #ccc;
    border-right-color: #eee;
    border-bottom-color: #eee;
    padding: 3px;
    -webkit-transition: border 500ms ease-out;
    -moz-transition: border 500ms ease-out;
    -o-transition: border 500ms ease-out;
    transition: border 500ms ease-out;
}

.missing {
    border-color: #a90f0a !important;
}

input[type=text]:focus {
    outline: 0;
    border-color: #4697e4;
}

.page_wrapper {
    width: 100%;
    height: 100%;
}

.wmd-button-bar {
    height: 46px;
    clear: both;
    background-color: transparent;
    margin: 15px 0 0 0;
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c8ccd0;
    text-align: center;
}

.wmd-input {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    outline: 0
}

.wmd-input {
    height: 200px;
    height: calc(100% - 73px);
    min-height: 200px;
    line-height: 1.3;
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    color: #3b4045;
    background: #FFF;
    border: 1px solid #c8ccd0;
    overflow-y: auto;
    font-family: sans-serif;
    border-top: 0;
    text-align: center;
    border-bottom: 0;
}

.wmd-input-left {
    height: calc(100% - 50px);
}

.wmd-container .grippie {
    width: 100%; /* fallback if needed */
    width: calc(100% - 2px);
}

.grippie {
    border: 1px solid #d6d9dc;
    height: 9px;
    overflow: hidden;
    background-color: #eff0f1;
}

.grippie {
    margin-top: -4px;
}

.wmd-container {
    height: calc(100% - 45px);
}

#taxonomies, #topics {
    position: relative;
    width: 50%;
    float: left;
    vertical-align: top;
    height: 100%;
}

.background {
    position: relative;
    z-index: 1;
    font-size: 13px;
    margin: 5px 0;
    text-align: center;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.background:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    z-index: -1;
}

.background span {
    background: #fff;
    padding: 0 15px;
}

#hamburger-icon {
    width: 25px;
    height: 20px;
    position: absolute;
    margin: 5px;
    z-index: 2;
}

#hamburger-icon .line {
    display: block;
    background: #333;
    width: 25px;
    height: 4px;
    position: absolute;
    left: 0;
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

#hamburger-icon .line.line-1 {
    top: 0;
}

#hamburger-icon .line.line-2 {
    top: 50%;
}

#hamburger-icon .line.line-3 {
    top: 100%;
}

#hamburger-icon.active .line-1 {
    transform: translateY(10px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    -moz-transform: translateY(10px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
    opacity: 0;
}

#hamburger-icon.active .line-3 {
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-10px) translateX(0) rotate(-45deg);
}

#overlay {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    right: 0;
    left: 0;
}

#overlay.open {
    display: block;
}

#hamburger-menu {
    height: 0;
    width: 0;
    background: #111;
    position: fixed;
    top: 5px;
    left: 35px;
    z-index: 101;
    overflow: hidden;
    border-radius: 5px;
}

#hamburger-menu nav {
    padding: 10px;
    z-index: 101;
    overflow-y: hidden;
    overflow-x: hidden;
}

#hamburger-menu nav a {
    display: block;
    padding: 10px;
    height: 1em;
    color: #CCC;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}

#hamburger-menu nav a:hover {
    cursor: pointer;
    color: #FFF;
    background: rgba(255, 255, 255, 0.15);
}

.taxonomy:hover, .topic:hover {
    background: #eee;
}

.taxonomy, .topic {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0 5px 10px;
    min-width: 250px;
    padding: 10px;
    vertical-align: top;
    cursor: pointer;
}

.title_taxonomy, .title_topic {
    margin: 0;
    color: #3232ff;
    font-weight: bold;
}

.delete_icon {
    position: relative;
    float: right;
    width: 12px;
    cursor: pointer;
    right: -6px;
    top: -6px;
}

.disabled_topic {
    background: #eee;
    opacity: 0.7;
}

#taxonomy_title {
    text-align: center;
    background: #ddd;
    font-size: 16px;
    border-bottom: 1px solid #c8ccd0;
}

#taxonomy_name {
    font-weight: bold;
}

#topics_result {
    height: calc(100% - 118px);
    text-align: left;
}

.well_opened {
    height: calc(100% - 72px) !important;
}

.taxonomy_num, .topic_id {
    padding: 2px 10px 2px 12px;
    background: #47b8e5;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    word-break: break-all;
}

.highlight_taxonomy {
    background: #AFC2D5 !important;
}

.well {
    background-color: #AFC2D5;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: none;
}

.pagination {
    display: inline-block;
    border-radius: 4px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    margin: 8px 0 5px;
    list-style: disc inside;
}

.pagination .first, .pagination .prev, .pagination.last, .pagination .next {
    font-weight: bold;
}

.pagination > li {
    display: inline;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #999;
    cursor: default;
    background-color: #fff;
    border-color: #ddd;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #4c5f70;
    border-color: #4c5f70;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    color: #9faecb;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #eee;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    outline: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 3px;
    margin-top: 10px;
    padding: 4px 12px;
    font-size: 14px;
    background: #3498db;
    color: white;
    position: relative;
    top: -2px;
}

button:disabled {
    background-color: graytext !important;
    opacity: 0.4;
    color: black;
    cursor: default;
}

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, .8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0
}

.reveal-modal {
    visibility: hidden;
    top: 100px;
    width: 600px;
    background: #eee;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    max-width: 95%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

.reveal-modal .close-reveal-modal, .close-info {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    font-weight: bold;
    cursor: pointer
}

#zero_topics {
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    display: none;
    text-align: center;
    left: 50%;
    margin-left: -57px;
}

#topics_result p {
    margin: 0 0 0 3px;
    font-weight: normal;
}

#topics_result ul li {
    padding-bottom: 5px;
    margin: 10px 0;
}

#topics_result ul {
    padding-left: 20px;
}

#topics_result ul li:hover {
    background-color: #eee;
}

.delete_topic, .edit_topic,.link {
    width: 12px;
    margin-left: 10px;
    position: relative;
    top: -1px;
    cursor: pointer;
}

#delete_message {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
    background: rgba(0,0,0,0.4);
}
#delete_message_title{
    height: 82px;
    margin-top: -16px;
    background-color: #5882FA;
}

#delete_message h2 {
    color: #0431B4;
    font-size: 20px;
}

#delete_edit, #cancel_delete {
    background: none;
    width: 100px;
    height: 28px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid white;
    margin: 0 10px;
    cursor: pointer;
    color: #CED8F6;
}


.deleted_selection,.deleted_selection_tax{
    background-color: #eee;
}
.id_topic {
    margin-right: 7px;
}
#topic_search {
    font-size: 13px;
    width: 203px;
    padding: 6px 28px 5px 6px;
    border: 1px solid rgb(169, 169, 169);
    position: relative;
    top: 4px;
    margin: 0 0 0 10px;
}
.icon-search {
    position: relative;
    left: -24px;
    top: 4px;
    z-index: 1;
    cursor: pointer;
}